---
layout: base.njk
permalink: 404.html
title: "404 - Page Not Found"
eleventyExcludeFromCollections: true
bodyClass: "page-404"
blankPage: true
---

<div class="prose min-h-[80vh] mx-auto text-center overflow-scroll flex flex-col items-center justify-center">

</div>
