<footer class="fixed inset-x-0 bottom-0 bg-stone-700 text-stone-400 text-center select-none">
  <div class="container py-2 text-xs [&_a]:whitespace-nowrap [&_a]:text-blue-500 [&_a:hover]:text-amber-500">
    Created with {% phicon 'heart', 'duotone', { class: 'text-red-600 inline-block h-4 w-4' } %} with <a href="https://www.11ty.dev/" title="Eleventy">Eleventy</a>, <a href="https://alpinejs.dev/" title="Alpine.js">Alpine.js</a>, <a href="https://tailwindcss.com/" title="TailwindCSS">TailwindCSS</a>, & <a href="https://phosphoricons.com/" title="Phosphor Icons">Phosphor Icons</a> // <span class="whitespace-nowrap">Fork me on <a href="https://github.com/new-tab-hub/catalyst" title="GitHub">{% phicon 'github-logo', 'duotone', { class: 'inline-block h-4 w-4 ' } %}</a></span>
  </div>
</footer>
