<div id="splash-loading"
     x-ref="splashScreen"
     class="fixed inset-0 h-screen w-full bg-stone-700 transition-all ease-linear">

  <div class="w-full bg-stone-600 h-2 mb-4 w-full mx-auto overflow-hidden"
       x-ref="loadingProgress">
    <div class="bg-green-500 h-2 rounded-full transition-all ease-linear"
         style="width: 0%"
         x-ref="loadingProgressBar"></div>
  </div>

</div>
